* {
    margin: 0;
  }
  
  /* navigation */
  /* global button color */
  .btn-color {
    background-color: #FAD7DC;
    color: #000;
  
  }
  
  .navigation-bg {
    background-color: #EFD7E5;
  }
  
  .nav-item .nav-link {
    color: black !important;
  }
  
  /* home page carousel */
  
  .carousel {
    background-color: #FBECF1;
  }
  
  /* home page feature products */
  
  .pro-card:hover {
    box-shadow: 0 3px 10px #E7BDD5;
    transform: scale(1.01);
    transition: transform 0.2s;
  }
  
  /* foter  */
  
  .foot li {
    padding: 2px;
    list-style-type: none;
  }
  
  /* product page banner */
  .product_banner h1 {
    width: 10%;
    margin: auto;
  
  }
  
  /* all products */
  .products {
    margin: 10px 0px;
  }
  
  .all-product {
    padding: 20px;
  }
  
  .all-product h2 {
    padding: 20px 0px;
    text-align: center;
  
  }
  
  .product-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .product-row .product {
    width: 25%;
    box-sizing: border-box;
  }
  
  .product-row .product:hover {
    transform: scale(1.1);
    transition: transform .2s;
  }
  
  /* products by categories */
  .product_categories {
    padding: 20px;
  }
  
  .product_categories h2 {
    text-align: center;
  }
  
  .categories-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .category {
    width: 25%;
  
    margin-left: 10PX;
    margin-right: 10PX;
  }
  
  .category h4 {
    text-align: center;
    padding: 15px 0px;
  }
  
  /* about-us page */
  
  .aboutus {
    width: 100%;
    height: 550px;
    position: relative;
  }
  
  .aboutus-heading {
    background-image: url(/images/aboutus.webp);
    background-repeat: no-repeat;
    background-size: cover;
  
    width: 100%;
    height: 100%;
    margin: auto;
  }
  
  .aboutus-heading h1 {
    font-size: 40px !important;
    position: absolute;
    top: 250px;
    left: 200px;
    bottom: 0;
    right: 0;
  }
  
  .aboutus-description p {
    padding: 30px;
    margin: auto;
    width: 50%;
  }
  
  .aboutus-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .aboutus-main .aboutus-vision {
    padding: 20px;
    width: 25%;
  }
  
  .aboutus-main .aboutus-mission {
    padding: 20px;
    width: 25%;
  }
  
  
  /* customer dashboard */
  
  #container {
    width: 1280px;
    height: 600px;
  }
  
  .sec1 {
    width: 400px;
    height: 500px;
  
    margin-top: 30px;
    margin-left: 30px;
  }
  
  table {
    border: 1px solid black;
  }
  
  .tab1 {
    border: 2px solid grey;
    margin-top: 40px;
    margin-left: 20px;
    width: 290px;
    height: 250px;
    border-collapse: collapse;
  }
  
  .sec2 {
    width: 740px;
    height: 300px;
  
    margin-top: -280px;
    margin-left: 480px;
  }
  
  .p2 {
    display: flex;
    justify-content: space-around;
    border: 2px solid green;
    height: 40px;
    padding: 10px;
  }
  
  .sec3 {
    width: 740px;
    height: 300px;
  
    margin-left: 480px;
    margin-top: 50px;
  }
  
  h3 {
    margin-left: 24px;
  }
  
  .tab2,
  th,
  td {
    border: 1px solid black;
    margin-left: 30px;
    width: 430px;
    height: 20px;
    border-collapse: collapse;
  }
  
  /* contact us */
  
  .col-h2 {
    text-align: center;
    color: #b43a3a;
    font-size: 40px;
  }
  
  .form_p {
    text-align: center;
    color: #a31666e8;
    font-size: 16px;
  }
  
  .contact_form {
    background-color: #fadbe8;
    padding-left: 29%;
    align-items: center;
    align-content: center;
  }
  
  .form_label {
  
    color: #393939;
    cursor: pointer;
    font-family: Tt-Chocolate;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: lowercase;
  }
  
  hr {
    margin: 0px
  }
  
  .foot a {
    text-decoration: none;
    color: #000;
  }
  
  
  .form_input {
    border: none;
    width: 50%;
    border-radius: 4px;
    color: #393939;
    display: block;
    height: auto;
    letter-spacing: 0;
    padding: 0.65rem 0.75rem;
    text-transform: lowercase;
  }
  
  .form_select {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #393939;
    display: block;
    height: auto;
    letter-spacing: 0;
    line-height: 1.125rem;
    padding: 0.65rem 0.75rem;
    text-transform: lowercase;
    width: 50%;
  }
  
  .form_btn {
    align-items: center;
    width: 50%;
    font-size: .9375rem;
    height: 2.5rem;
    justify-content: center;
    letter-spacing: 0;
  }
  
  .form_option {
  
    font-size: 15px;
    height: 2.5rem;
  }



/* single product page */
.product-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-img {
  width: 45%;
  height: 450px;
  background-color: grey;
  border: 2px solid black;
  padding: 20px;
}

.product-info {
  width: 45%;
  height: 450px;
  background-color: grey;
  border: 2px solid black;
  margin: 30px;
  padding: 20px;
}

.p-title {
  padding: 25px;
}

.product-description p {
  padding-top: 25px;
}

.product-button {
  padding-top: 25px;
}

.product-quantity {
  padding-top: 25px;
}

  .cart-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  
  #cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
  }
  
  .cart-quantity {
    color: white;
    background-color: red;
    padding: .2em .3em;
    position: absolute;
    margin: .8em 7.5em 0 0;
    right: 0;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 1em
  }
  
  .card {
    width: 15rem; 
    margin: 1em;
    position: relative;
    overflow: hidden; 
    text-align: center
  }
  
  .card:hover .add-to-cart {
    transform: translateX(0);
  }
  
  .p-img {
    margin-bottom: 1em
  }
  
  .add-to-cart {
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    top: 65%;
    padding: .5em 1em; 
    transform: translateX(300px);
    transition: .5s ease;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem
  }
  
  .p-price {
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .cart-modal-overlay {
    position: fixed;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(218, 215, 82, 0.5);
    z-index: 2;
    transform: translateX(-200%);
    transition: .5s ease-out;
    
  }
  
  .cart-modal {
    height: 100vh;
    width: 70%;
    background-color: rgb(173, 120, 39);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #close-btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
  }
  
  .cart-is-empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
  }
  
  .total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
  }
  
  .cart-total {
    color: white;
  }
  
  .total-price {
    color: white;
    font-size: 2rem;
    display: block;
  }
  
  .purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
  }
  
  .product-rows {
    margin-top: 3em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .product-row {
    display: flex;
    align-items: center;
  }
  
  .cart-image {
    width: 10rem;
    margin: 1em;
  }
  
  .cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .product-quantity {
    width: 4rem;
    font-size: 2rem;
    margin-left: 3rem;
  }
  
  .remove-btn {
    padding: 1em 2em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .remove-btn:active {
    transform: translateY(5px);
  }
  
  @media (max-width: 1000px){
    .cart-modal {
      width: 100vw;
    } 
    
    .product-row {
      flex-direction: column;
      text-align: center;
      margin-bottom: 2em;
    }
    .remove-btn {
        margin: 0
      }
      
      .product-quantity {
        margin: .5em 0 .5em 0
      }
    }